.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 19.3px;
    background-color: var(--primary-color);
    color: var(--white);
    padding: 14.5px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.button:hover {
    background-color: var(--primary-color-2);
}