.remove-icon {
    font-size: 12px;
    width: max-content;
    height: max-content;
    margin-left: auto;
    background-color: var(--grey-2);
    color: var(--grey-4);
    padding: 6.1px 6.1px 3px 6.1px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.remove-icon:hover {
    color: var(--grey-1);
    background-color: var(--grey-4);
}