.default-input {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    padding: 11px 16px;
    color: var(--grey-50);
    background-color: var(--grey-1);
    border-radius: 8px;
    border: none;
}

.default-input::placeholder {
    color: var(--grey-50);
}

.default-input:focus {
    color: var(--grey-4);
    outline: 2px solid var(--grey-4);
    background-color: var(--white);
}

.default-input:focus::placeholder {
    opacity: 0;
}